absl-py==0.9.0
alabaster==0.7.12
asn1crypto==1.3.0
astor==0.8.0
attrs==19.3.0
auto-sklearn==0.6.0
autogluon==0.0.6
autokeras==1.0.2
Babel==2.8.0
bcrypt==3.1.7
blinker==1.4
bokeh==2.0.1
boto3==1.13.2
botocore==1.16.2
cachetools==3.1.1
catboost==0.23
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.1
cloudpickle==1.4.1
colorama==0.4.3
ConfigSpace==0.4.10
cryptography==2.8
cycler==0.10.0
Cython==0.29.17
cytoolz==0.10.1
dask==2.15.0
dask-glm==0.2.0
dask-ml==1.3.0
deap==1.3.1
distributed==2.15.2
docutils==0.15.2
fsspec==0.7.3
future==0.18.2
gast==0.2.2
gluoncv==0.7.0
gluonnlp==0.8.1
google-auth==1.13.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
graphviz==0.8.4
grpcio==1.27.2
h2o==3.30.0.2
h5py==2.10.0
HeapDict==1.0.1
idna==2.9
imagesize==1.2.0
importlib-metadata==1.6.0
Jinja2==2.11.2
jmespath==0.9.5
joblib==0.14.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keras-tuner==1.0.1
kiwisolver==1.2.0
liac-arff==2.4.0
lightgbm==2.3.1
llvmlite==0.32.0
locket==0.2.0
lockfile==0.12.2
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.2.1
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
more-itertools==8.2.0
msgpack==1.0.0
multipledispatch==0.6.0
mxnet==1.6.0
nose==1.3.7
numba==0.49.0
numpy==1.18.3
oauthlib==3.1.0
olefile==0.46
opt-einsum==3.1.0
packaging==20.3
pandas==1.0.3
paramiko==2.7.1
partd==1.1.0
Pillow==7.1.2
plotly==4.6.0
pluggy==0.13.1
portalocker==1.7.0
pre-commit
protobuf==3.11.4
psutil==5.7.0
py==1.8.1
pyaml==20.4.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pyautoweka==1.1
pycparser==2.20
Pygments==2.6.1
PyJWT==1.7.1
PyNaCl==1.3.0
pynisher==0.5.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrfr==0.8.0
PySocks==1.7.1
pytest==5.4.1
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
requests==2.23.0
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.0
s3transfer==0.3.3
scikit-learn==0.22.1
scikit-MDR==0.4.4
scikit-optimize==0.7.4
scipy==1.4.1
six==1.14.0
skrebate==0.6
smac==0.8.0
snowballstemmer==2.0.0
sortedcontainers==2.1.0
Sphinx==3.0.3
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
stopit==1.1.2
tabulate==0.8.3
tblib==1.6.0
tensorboard==2.1.0
tensorflow==2.1.2
tensorflow-estimator==2.1.0
termcolor==1.1.0
terminaltables==3.1.0
toolz==0.10.0
tornado==6.0.4
TPOT==0.11.1
tqdm==4.46.0
typing==3.7.4.1
typing-extensions==3.7.4.2
update-checker==0.17
urllib3==1.25.8
wcwidth==0.1.9
Werkzeug==1.0.1
wrapt==1.12.1
xgboost==1.0.2
zict==2.0.0
zipp==3.1.0
